@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@model SistemaVenda.Models.LoginViewModel;

<link href="~/css/Login.css" rel="stylesheet" id="bootstrap-css" />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/img/A_logo.png" style="width:107px;height:125.5px;" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form asp-controller="Login" asp-action="Index" method="post">
            <input asp-for="Email" type="text" id="login" class="fadeIn second" placeholder="Email"><br />
            <span asp-validation-for="Email" style="color:red;"></span>
            <input asp-for="Senha" type="password" id="password" class="fadeIn third" placeholder="Senha"><br />
            <span asp-validation-for="Senha" style="color:red;"></span>
            <br />
            <input type="submit" class="fadeIn fourth" value="Log In">
            <br />
            <span style="color:red;">@ViewData["ErroLogin"]</span>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Esqueci minha senha</a>
        </div>

    </div>
</div>