@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="row">
    <span>Hello World&nbsp;</span>
    <span>Hello Baiocco</span>
</div>
